<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="Content/bootstrap.min.css">
</head>
<body ng-controller="previewCtrl" class="container-fluid">

    <!----HEADER BEGINING.......................................................................................-->
        <div class="row" id="header">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../NoworkForum.html">NOWORKFORUM</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Link1</a></li>
                        <li><a href="#">Link2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!----HEADER ENDING.........................................................................................-->

    <!----BODY BEGINING.........................................................................................-->
        <!--<div class="row" id="body">-->

                    <div class="row table table-bordered" style="margin-left:0.1pt; padding:10px" ng-repeat="row in rowCollection">  
                        <div class="row">
                            <div class="col-md-4"><b>Author:</b> <a class="text-info"href="#">{{row.Author}}</a></div>
                            <div class="col-md-4"><b>Date:</b> {{row.Date|date:'dd MMMM'}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><b>Subject:</b> <a class="text-info" href="#">{{row.Subject}}</a></div>
                         </div>
                        <div class="row">
                            <b class="col-md-1">Groups:</b>
                            <div ng-repeat="group in row.Groups | orderBy">
                                <div class="col-md-2"> {{group}},</div>
                            </div>
                        </div>
                        <div class="row">
                            <b class="col-md-1">Tags:</b>
                            <div ng-repeat="tag in row.Tags | orderBy">
                                <div class="col-md-2"> {{tag}},</div>
                            </div>
                        </div>
                            <br />
                        </div>
            
        <!--</div>-->
    <!----BODY ENDING........................................................................................-->

    <!----FOOTER BEGINING....................................................................................-->

        <div class="row" id="footer">
        </div>
    <!----FOOTER ENDING......................................................................................-->
    <script type="text/javascript" src="scripts/angular.min.js"></script>

    <script>
        var navlnks = document.querySelectorAll(".nav a");
        Array.prototype.map.call(navlnks, function (item) {
            item.addEventListener("click", function (e) {
                var navlnks = document.querySelectorAll(".nav a");
                Array.prototype.map.call(navlnks, function (item) {
                    if (item.parentNode.className == "active" || item.parentNode.className == "active open") {
                        item.parentNode.className = "";
                    }
                });
                e.currentTarget.parentNode.className = "active";
            });
        });

        var app = angular.module('app', []);
        app.controller('previewCtrl', function ($scope, $http, $interval, $window) {
                //$scope.rowCollection = [
                //    { Author: 'Denys', Subject: 'Buy a notebook LenovoBuy a notebook Lenovo', Date: new Date('1987-05-21'), Groups: 102, Tags: 'whatever@gmail.com' },
                //    { Author: 'Anton', Subject: 'Buy a notebook DELL', Date: new Date('1987-05-21'), Groups: 102, Tags: 'whatever@gmail.com' }
            //];

                function updateTopics(data) {
                    $scope.rowCollection = data;
                    $scope.$apply();
                }

                function getTopics() {
                    $http({ method: 'GET', url: 'http://localhost:64079/api/values' })
                        .success(function (data) {
                        updateTopics(data);
                        }).error(function()
                        {
                            $window.alert("Lost server connection");
                        })
                };

            (function () {
                    getTopics();
                    $interval(getTopics, 5000);
                })();
            });
    </script>
</body>
</html>
